.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: scroll;

  &__bci {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, var(--color-white) 100%), url("../../../assests/backroungLayoutImage.jpg");
    filter: blur(2px) brightness(95%);
    background-size: cover;
    position: absolute;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
}