@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'normalize.css';

@import './variables';

@import './utils';

@import './mixins/typography';

body {
  background-color: var(--color-background-light);

  font-family: var(--font-family);

  @include text-medium;
  color: var(--color-body);
}

.no-scroll {
  overflow: hidden;
}
