@import 'src/styles/mixins/typography.scss';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;


  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  padding: 0 15px;
  height: 60px;
  background: var(--color-primary-light);
  color: var(--color-white);

  &:not(&.disabled):hover {
    background: var(--color-primary-medium);
  }

  &:not(&.disabled):active,
  &:not(&.disabled):focus {
    background: var(--color-primary-dark);
  }

  @include text-large;
  font-size: var(--text-size-largeX);
}


.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
