:root {
  --color-title: #232726;
  --color-active: #232726;
  --color-body: #4a4d4c;
  --color-placeholder: #808382;
  --color-icon: #808382;
  --color-icon-light: #9cacac;
  --color-icon-dark: #4a4c4c;
  --color-icon-light-active: #d3eedd;
  --color-icon-dark-active: #13b08a;
  --color-border: #cdcdcd;
  --color-border-light: #dbdbdb;
  --color-border-primary: #d3eedd;
  --color-background-dark: #e9e9e9;
  --color-background-light: #f4f4f4;
  --color-white: #ffffff;
  --color-primary: #13b08a;
  --color-primary-light: #d3eedd;
  --color-primary-medium: #0d9783;
  --color-primary-dark: #097e78;
  --color-secondary: #ea5671;
  --color-secondary-light: #ffdbd7;
  --color-secondary-dark: #a82b59;
  --color-error: #d1272d;
  --color-error-light: #ffdbd7;
  --color-error-dark: #96132f;
  --color-success: #39c134;
  --color-warning: #ffc23f;
  --color-info: #1f75f4;
}
