:root {
  --color-rating-5: #0f8a0b;
  --color-rating-4-5: #60b21e;
  --color-rating-4: #8dd630;
  --color-rating-3-5: #bae73c;
  --color-rating-3: #dcf445;
  --color-rating-2-5: #f2f637;
  --color-rating-2: #ffd53f;
  --color-rating-1-5: #ffa73f;
  --color-rating-1: #ff8f3e;
  --color-rating-0-5: #ff8f3e;
}
