:root {
  /* Font family */
  --font-family: 'Inter', sans-serif;

  // Text
  --text-size-large: 16px;
  --text-size-medium: 14px;
  --text-size-small: 14px;

  --text-weight-large: 500;
  --text-weight-medium: 500;
  --text-weight-small: 400;

  --text-height-large: 20px;
  --text-height-medium: 20px;
  --text-height-small: 20px;

  // Display
  --display-size-large: 28px;
  --display-size-medium: 20px;
  --display-size-small: 16px;

  --display-weight-large: 500;
  --display-weight-medium: 500;
  --display-weight-small: 600;

  --display-height-large: 32px;
  --display-height-medium: 20px;
  --display-height-small: 16px;

  // Caption
  --caption-size: 12px;
  --caption-size-uppercase: 12px;

  --caption-weight: 500;
  --caption-weight-uppercase: 600;

  --caption-height: 12px;
  --caption-height-uppercase: 12px;
}
