:root {
  /* Font family */
  --font-family: 'Inter', sans-serif;

  // Text
  --text-size-extraLarge: 76px;
  --text-size-adaptiveTitle: 44px;
  --text-size-adaptive: 56px;
  --text-size-largeXL: 34px;
  --text-size-largeX: 24px;
  --text-size-large: 16px;
  --text-size-medium: 14px;
  --text-size-small: 12px;
  --text-size-extraSmall: 10px;

  --text-weight-large: 600;
  --text-weight-medium: 500;
  --text-weight-small: 400;
  --text-height-extra-small: 300;

  --text-height-extraLarge: 36px;
  --text-height-large: 24px;
  --text-height-medium: 20px;
  --text-height-small: 18px;

  // Display
  --display-size-large: 28px;
  --display-size-medium: 20px;
  --display-size-small: 16px;

  --display-weight-large: 500;
  --display-weight-medium: 500;
  --display-weight-small: 600;

  --display-height-large: 32px;
  --display-height-medium: 20px;
  --display-height-small: 16px;
}
